@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .infoTextBox {
    @apply bg-slate-50 cursor-default px-4 py-2 rounded-xl shadow-sm;
  }

  .radioBtn {
    @apply appearance-none border h-4 ring-offset-2 ring-offset-black ring-slate-50 rounded-md transition-all w-4 checked:bg-[#f24661] hover:ring-1;
  }
}

@layer utilities {
  .btnAnimation_press {
    animation: onpress 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  @keyframes onpress {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
  }
}
